header-1 {
    font-size: 10px;
}

#avatar {
    max-width: 300px;
    height: auto;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
    gap: 200px;
    position: relative;
    height: 400px;
    background-color: #b31616;
}

#rsschool {
    max-width: 100px;
    height: auto;
}

#github {
    max-width: 100px;
    height: auto;
}

.list {
    padding: 0px;
}

.list.skills {
    list-style-position: inside;
    list-style-type: disc;
}

.experience-name {
    font-weight: bold; /* Используйте font-weight для задания жирного шрифта */
}
